node_modules
.vscode
.env
docs/
db/create-db-user.sql
testaus/login_variables.resource
testaus/tools/login_variables.resource
testaus/output.xml
testaus/diary/output.xml
testaus/playwright-log.txt
testaus/ronin_testit/
testaus/back/openai/openai.resource
testaus/apitesti/restful_healthdiary_keywords.resource
testaus/back/muokkaa_merkinta/muokkaa_merkinta_keywords.resource
testaus/tools/login_variables.resource
testaus/back/poista_merkinta/poista_merkinta_keywords.resource
