/* Navigaatiopalkki tyylittely */

.navbar {
  width: auto;
  height: 100%;
  left: 20px;
  right: 20px;
  margin-top: 20px;
  background-color: rgba(4, 68, 101, 0.85);
  box-shadow: 0 3px 10px white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  height: 25px;
}

.navbar-menu {
  display: flex;
  justify-content: center; /* Aseta linkit keskelle */
  align-items: center;
  width: auto;
  padding: 0; /* Poista ylimääräinen sisäinen täyttö */
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px; /* Lisää väliä linkkien välille */
  height: 100%;
  height: 25px;
  padding: 0 7px;
}

.nav-link.nav-link-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap; /* Estä tekstiä menemästä riville */
  align-items: center;
  justify-content: flex-end;

}

/* Navigointipalkin hoverit */

.nav-link:hover {
  background-color: #0A8ECC;
  border-radius: 5px;
}


ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/* Sivuston perusrunko, 12 column grid */

body {
    background-image: url(images/diarytausta.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
} */



main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #04456560;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 3px 10px white;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 10px
}

.col {
    /* background-color: transparent; */
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 3px 10px #044465;
    /* visibility: hidden; */
}

/* Määritä erikokoiset sarakkeet */
.col-1 {
    grid-column: span 8;


}

#nursecard {
  display: inline-block;

}

#nurse{
  width: 120px;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 30px;

}

.col-2 {
    grid-column: span 4;
}

#kriisipäivystys {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

.col-3 {
    grid-column: span 12;
}

.instructions {
  display: inline-block

}

/* .col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 4;
}

.col-6 {
    grid-column: span 4;
}

.col-7 {
    grid-column: span 4;
}

.col-8 {
    grid-column: span 4;
}

.col-9 {
    grid-column: span 4;
}

.col-10 {
    grid-column: span 4;
}

.col-11 {
    grid-column: span 4;
}

.col-12 {
    grid-column: span 4;
} */

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
