/* Navigaatiopalkki tyylittely */

.navbar {
  width: 100%;
  background-color: #044465;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
}

.navbar-menu {
  display: flex;
  align-items: center;
  width: auto; /* Muuta width: 100% width: auto; jotta se vie vain tarvittavan tilan */
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px;
}

.nav-link.nav-link-right {
  margin-left: auto; /* Säilytä tämä pitääksesi Kirjaudu ulos -linkin oikealla */
  margin-right: 30px;
  white-space: nowrap;
}


ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/* Sivuston perusrunko, 12 column grid */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;

    /* taustakuva */
    background-image: url(images/stats.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Määritä erikokoiset sarakkeet */
.col-1 {
    grid-column: span 12;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 3px 10px #044465;
    background-color: #044465;

}

.col-2 {
    grid-column: span 12;
    background-color: transparent;
}

/* .col-3 {
    grid-column: span 4;
    background-color: transparent;
}

.col-4 {
    grid-column: span 4;
    background-color: transparent;
}

.col-5 {
    grid-column: span 4;
    background-color: transparent;
}

.col-6 {
    grid-column: span 4;
    background-color: transparent;
}

.col-7 {
    grid-column: span 4;
    background-color: transparent;
}

.col-8 {
    grid-column: span 4;
    background-color: transparent;
}

.col-9 {
    grid-column: span 4;
    background-color: transparent;
}

.col-10 {
    grid-column: span 4;
    background-color: transparent;
}

.col-11 {
    grid-column: span 4;
    background-color: transparent;
}

.col-12 {
    grid-column: span 4;
    background-color: transparent;
} */

/* Data /*
/* Datan kuvaajien container */

#chart-container {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 15px;
}

/* Selectori datan vaihtoon */
#chartSelection {
    font-size: 16px;
    padding: 5px;
}

#max-data-container {
    text-align: center;
    background-color: #044465;
    color: white;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 3px 10px #044465;
}

#max-data-container p {
    margin-left: 30px;
}


h1 {
    color: white;
    text-align: center;
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
