/* Navigaatiopalkki tyylittely */

.navbar {
  width: auto;
  height: 100%;
  left: 20px;
  right: 20px;
  margin-top: 20px;
  background-color: rgba(4, 68, 101, 0.85);
  box-shadow: 0 3px 10px white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  height: 25px;
}

.mobile-navbar {
  display: none;
}


.navbar-menu {
  display: flex;
  justify-content: center; /* Aseta linkit keskelle */
  align-items: center;
  width: auto;
  padding: 0; /* Poista ylimääräinen sisäinen täyttö */
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px; /* Lisää väliä linkkien välille */
  height: 100%;
  height: 25px;
  padding: 0 7px;
}

.nav-link.nav-link-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap; /* Estä tekstiä menemästä riville */
  align-items: center;
  justify-content: flex-end;

}

/* Navigointipalkin hoverit */

.nav-link:hover {
  background-color: #0A8ECC;
  border-radius: 5px;
}



ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}


/* Sivuston perusrunko, 12 column grid */

body {
    /* background-image: url(images/diarytausta.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background: linear-gradient(to bottom, #044465, #0A8ECC, #1EB9CF, #BEF6E0);

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 130px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
}

.col {
  margin-left: 20px;
  border: none;
}

/* Määritä erikokoiset sarakkeet */
.col-1 {
  grid-column: 1 / span 6;
}

.col-2 {
  grid-column: 7 / span 6;
}

.col-1 h3, .col-2 h3 {
  color: rgb(255, 255, 255);
  margin:20px 0px 0 20px;
  font-size: 24px;
  font-weight: 600;
}

.col-3 {
  visibility: hidden;
  grid-column: span 6;
}

.col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    grid-column: span 4;
    visibility: hidden;
}

/* Lomakkeen yleinen asettelu */

.create_diary_form {
  display: grid;
  grid-template-columns: 1fr; /* Asettaa yhden sarakkeen joka täyttää koko käytettävissä olevan tilan */
  gap: 20px;
  max-width: 90%;
  margin: 40px auto; /* Keskitä lomake */
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #FFFFFF;

}

.form-label {
  font-weight: bold;
  color: black;
}

.form-input {
  padding: 15px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 5px #04456587;
}

.form-input:hover {
  box-shadow: 0 0 5px #044565c4;
  background-color: #f0fcfc;
  cursor: pointer;
}

.form-input:focus {
  cursor: text;

}


#notes {
  padding: 10px;
  border-radius: 8px;
  resize: vertical; /* Sallii käyttäjän muuttaa kentän kokoa vain pystysuunnassa */
  border: none;
  box-shadow: 0 0 5px #04456587;
  padding: 10px;
}

#notes:hover {
  box-shadow: 0 0 5px #044565c4;
  background-color: #f0fcfc;
  cursor: pointer;
}


.createEntry {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 20px;
  width: 60%;
  height: 70%;
  margin: 25px auto 10px auto;
  font-size: 18px;
  text-transform: uppercase;
  white-space: normal;
  border: 1px solid #044565cc;
  letter-spacing: 3px;
  font-weight: 700;
  background-color: #044465;
  color: #FFFFFF;
  cursor: pointer;
}

.createEntry:hover {
    color: #044465;
    background-color: transparent;
}


/* Tyyli stressille */
.stress-slider {
  width: auto;
  height: 15px;
  border-radius: 15px;
  background: linear-gradient(to right, #CFF0CC, #FFFACD, #FFB6C1);
  opacity: 0.6; /* Makes it slightly transparent */
}

.stress-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default appearance */
  appearance: none;
  width: 25px; /* Custom thumb width */
  height: 25px; /* Custom thumb height */
  border-radius: 50%; /* Circular thumb */
  background: #046398; /* Thumb color */
  cursor: pointer; /* Cursor changes to pointer when hovering over the thumb */
}

.stress-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #046398; /* Thumb color */
  cursor: pointer;
}

.stress-slider:focus,
.stress-slider:hover {
  outline: none; /* Remove default focus outline */
  opacity: 1; /* Full opacity on focus/hover */
}

/* Tyyli liukumerkille */

#slider-marks {
  display: flex;
  justify-content: space-between;
  margin-top: 5px; /* Adjust based on your layout */
  padding: 0 10px; /* Aligns the edges of the marks with the slider ends */
}

#slider-marks span {
  font-size: 12px; /* Adjust according to your design */
  cursor: pointer; /* Indicates the marks are clickable */
  user-select: none; /* Prevents text selection */
  text-align: center;
  min-width: 50px;
}

.stress-slider {
  margin: 0 auto; /* Center the slider if it's not full-width */
  width: calc(100% - 20px); /* Adjust width considering the container's padding */
}

#day-label, #mood-label, #sleep-label, #weight-label, #note-label, #stress-label{
  color: #044465;
  margin-bottom: -5px;
  margin-top: 20px;

}


/* moood formi */

#mood-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Sallii elementtien siirtyä seuraavalle riville tarvittaessa */
  margin: 5px 0;

}

.mood-option-button {
  padding: 8px;
  width: auto;
  margin: 6px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  flex: 0 1 auto;
  font-size: 15px;
  outline: none;
  line-height: 1;
  letter-spacing: 2px;;
  background-color:  #056398;
  color: rgb(255, 255, 255);
}

.moodSelected {
  background-color: #BCC1C6;
  color: rgb(0, 0, 0);
}

.mood-option-button:hover {
  cursor: pointer;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #a3d2d9;
  color: #000000;
  transform: scale(1.3);
}

/* KALENTERI KOODI */

.calendar {
  margin-top: 2.5rem;
  margin-left: 0.8rem;
  height: 33rem;
  width: 85%;
  background-color: white;
  border-radius: 26px;
  overflow: hidden;
  padding: 35px 30px 0px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.calendar-header {
  background: #056398;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
}

.calendar-week-days div:hover {
  color: black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: #056398;
  height: 50px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #0A0921;
}

.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.year-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.year-change, #year {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: #056398;
  transition: all .2s ease-in-out;
  transform: scale(1.12);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#year:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #a3d2d9;
  border-radius: 20%;
  color: #f8fbff;
}

.calendar-days div.current-date {
  color: #f8fbff;
  background-color: #056398;
  border-radius: 20%;
}

.month-list {
  position: relative;
  left: 0;
  top: -150px;
  background-color: #ebebeb;
  color: #151426;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}

.month-list>div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.month-list>div>div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list>div>div:hover {
  background-color: #056298c4;
  color: #f8fbff;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}

.month-list.hideonce {
  visibility: hidden;
}

.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

.date-time-formate {
  height: 4rem;
  width: 100%;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: flex;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #056398;
}

.date-time-value {
  display: block;
  position: relative;
  text-align: center;
  padding-left: 5%;
}

.time-formate {
  font-size: 1.5rem;
}

.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}

.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}

.day-text-formate.showtime {
  animation: showtime 1s forwards;
}

.time-formate.showtime {
  animation: showtime 1s forwards;
}

.date-formate.showtime {
  animation: showtime 1s forwards;
}


@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }

  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }

  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }

  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}


/* Footer */

.footer {
  position: relative;
  max-width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 5s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 5s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 4s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 4s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Merkintä ikoni */
.entry-icon {
  width: 35px;
  height: 35px;
}


/* Muokka formi ja muistinpano moduuli */
#updateFormContainer, .modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

#formContainer, .modalContent{
  background-color: #fff;
  color: #000;
  margin: 20% auto;
  padding: 30px;
  border: none;
  border-radius: 20px;
  width: 30%;
}

#formContainer input,
#formContainer textarea,
#formContainer select {
  display: block;
  width: calc(100% - 40px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 26px;
  box-sizing: border-box;
  font-size: 18px;
}

#formContainer button {
  display: block;
  width: auto;
  padding: 10px 15px;
  margin: 10px 8px;
  background-color: #046398;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#updateEntryForm {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

#modalText {
  font-size: 18px;
  line-height: 1.6;
}

.closeButton {
  cursor: pointer;
  float: right;
  font-size: 23px;
}

.tableButtons {
  font-size: 15px;

}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tableButtons {
  cursor: pointer;
}

.tableButtons:hover, .tableButtons:focus {
  cursor: pointer;
  color: #046398;
}

#notification {
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 20px 30px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;  /* Alkutila piilotettu */
  transition: opacity 0.5s ease-in-out;
  font-size: 25px;
  text-align: center;
  min-width: 300px;
}

#notification.success {
  background-color: #3CB371;
}

#notification.error {
  background-color: #eb4034;
}

/* Grid-säännöt taulukon sarakkeille */
table {
  margin-top: 2.5rem;
  margin-left: 0.8rem;
  width: 95%;
  background-color: white;
  border-radius: 26px;
  overflow: hidden;
  padding: 35px 30px 0px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

th, td {
  text-align: left;
  padding: 10px 12px;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
}

.tableIcons {
  height: 30px;
  width: 30px;
}

.dayMarked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: #0b8fcc;
  opacity: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


/* Responsiivisuus */


/* Media Query Mobiililaitteet */
@media screen and (min-width: 260px) and (max-width: 399px) {
  .col-1 {
    grid-column: span 12;
    margin: 0px;
  }
  .col-2 {
    grid-column: span 12;
    margin: 0px;
  }

  .col-1 h3, .col-2 h3 {
    font-size: 18px;
    margin: 5px auto;
    text-align: center;
  }

  .col-2 h3 {
    margin-top: 30px;
  }

  .container {
    padding: 0px;
  }

  .create_diary_form {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    gap: 10px;
  }

  .create_diary_form input,
  .create_diary_form textarea {
    max-width: 100%;
    margin: 0;
    padding: 5px;
  }

  .create_diary_form label {
    font-size: 10px;
    width: 100%
  }

  .createEntry {
    padding: 8px;
    width: 100%;
    font-size: 8px;
  }

  #slider-marks span {
    font-size: 10px;
    min-width: 30px;
  }

  .stress-slider{
    height: 7px;
  }

  .mood-option-button {
    font-size: 10px;
  }

  .calendar {
    width: 100%; /* Use the full width of the screen */
    height: 50%;
    border-radius: 16px;
    padding: 0px; /* Adjust padding to be proportional on smaller screens */
    margin-top: 20px; /* Reduce top margin */
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
  }

  .calendar-body {
    padding: 0;
  }

  .calendar-header {
    padding: 3px;
    font-size: 10px;
  }

  .calendar-days {
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
  }

  .calendar-days div {
    width: 17px;
    height: 13px;
    padding: 2px;
  }

  .time-formate, .date-formate {
    font-size: 0.7rem;;

  }

  .date-time-formate {
    height: 0rem;
  }

  .day-text-formate {
    font-size: 1rem;
    padding-right: 5%;
  }

  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 2%;
  }

  .month-list {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    gap: 1px;
    font-size: 10px;
    padding: 2px;
  }


  #entriesTable {
    width: 90%;
  }


  th, td {
    font-size: 10px; /* Reduce font size */
    padding: 5px;
    overflow: none;
  }

  .tableIcons {
    height: 15px;
    width: 15px;
  }

  #notesButton, #updateButton, #deleteButton  {
    font-size: 8px;
  }

  #formContainer, .modalContent {
    margin: 10% auto; /* Less margin to bring the form higher on the screen */
    padding: 20px; /* Slightly less padding */
    width: 80%; /* Increase width for better usability */
  }

  #formContainer input,
  #formContainer textarea,
  #formContainer select {
    width: calc(100% - 20px); /* Reduce padding to increase field size */
    font-size: 16px; /* Slightly smaller font size for small devices */
  }

  #formContainer button {
    padding: 10px 20px; /* Larger padding for easier clicking */
    margin: 10px 0; /* Standardize margin for consistency */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #updateEntryForm {
    justify-content: space-around; /* Better spacing management */
  }


  .navbar {
    display: none;
  }
  
  .mobile-navbar {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;

    background-color: rgba(4, 68, 101, 0.85);
    box-shadow: 0 3px 10px white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 25px;
  }


  .bi {
    color: white;
    margin: 15px;
  }

  .nav-link {
    display: none;
  }

  .wave#wave1,
  .wave#wave2,
  .wave#wave3,
  .wave#wave4 {
    display: none;
  }

  table {
    border-radius: 16px;
  }
}

@media screen and (min-width: 260px) and (max-width: 321px) {
  #entriesTable {
    width: 85%;
    margin-left: -5px;
  }


  th, td {
    font-size: 10px; /* Reduce font size */
    overflow: none;
  }

  .tableIcons {
    height: 15px;
    width: 15px;
  }

  #notesButton, #updateButton, #deleteButton  {
    font-size: 8px;
  }

  table {
    border-radius: 16px;
  }
}

/* Normaali leveyskoko 400-600px */
@media screen and (min-width: 400px) and (max-width: 600px) {


  .col-1 {
    grid-column: span 12; /* Vie koko leveyden pienimmillä näytöillä */
    margin: 0px;
  }
  .col-2 {
    grid-column: span 12; /* Vie koko leveyden pienimmillä näytöillä */
  }
  
  .col-1 h3, .col-2 h3 {
    font-size: 18px;
    margin: 5px auto;
    margin-top: 60px;
    text-align: center;
  }
  
  .container {
    padding: 0px; 
  }


  .create_diary_form {
    max-width: 100%;
    margin: auto;
    gap: 10px;
  }

  .create_diary_form input,
  .create_diary_form textarea {
    max-width: 100%; /* Ensures full width in grid column */
    margin: 5px 0px;
    padding: 10px;
  }

  .create_diary_form label {
    font-size: 12px;
  }

  .createEntry {
    padding: 8px;
    width: 100%;
    font-size: 12px;
  }

  .stress-slider {
    height: 5px;
  }


  .calendar {
    width: 95%; /* Use the full width of the screen */
    padding: 0px; /* Adjust padding to be proportional on smaller screens */
    margin-top: 20px; /* Reduce top margin */
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
  }
  .calendar-body {
    padding: 0;

  }

  .calendar-header {
    padding: 5px;
    font-size: 15px;
  }


  .calendar-days div {
    width: auto;
    height: 40px;
  }

  .time-formate, .date-formate {
    font-size: 1rem;;

  }

  .date-time-formate {
    height: 7rem;
  }

  .day-text-formate {
    font-size: 1.5rem;
    padding-right: 5%;
  }

  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 2%;
  }

  .month-list {
    grid-template-columns: repeat(3, 1fr);
    width: 100%; /* Asettaa leveyden, muokkaa tarpeen mukaan */
    max-height: 300px; /* Maksimikorkeus ennen kuin vierityspalkki ilmestyy, muokkaa tarpeen mukaan */
    overflow-y: auto; /* Mahdollistaa pystysuunnan vierityksen, jos sisältö ylittää maksimikorkeuden */
    gap: 1px;
    font-size: 15px;
    padding: 2px;
  }


  #entriesTable {
    width: 90%;
    margin-bottom: 100px;
  }


  th, td {
    padding: 8px 6px; /* Reduce padding */
    font-size: 10px; /* Reduce font size */
    padding: 10x;
    overflow: none;
  }

  td button {
    font-size: 3px;
  }

  table {
    border-radius: 20px;
  }

  .tableIcons {
    height: 20px;
    width: 20px;
  }

  #formContainer, .modalContent {
    margin: 10% auto; /* Less margin to bring the form higher on the screen */
    padding: 20px; /* Slightly less padding */
    width: 80%; /* Increase width for better usability */
  }

  #formContainer input,
  #formContainer textarea,
  #formContainer select {
    width: calc(100% - 20px); /* Reduce padding to increase field size */
    font-size: 16px; /* Slightly smaller font size for small devices */
  }

  #formContainer button {
    padding: 10px 20px; /* Larger padding for easier clicking */
    margin: 10px 0; /* Standardize margin for consistency */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #updateEntryForm {
    justify-content: space-around; /* Better spacing management */
  }


  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    justify-content: center;
    color: white;
    width: auto;
    height: 100%;
    left: 20px;
    right: 20px;
    margin-top: 20px;
    background-color: rgba(4, 68, 101, 0.85);
    box-shadow: 0 3px 10px white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    height: 25px;
  }

  .bi {
    color: white;
    margin: 15px;
  }

  .nav-link {
    display: none;
  }

}

/* TABLETIT */
@media screen and (min-width: 601px) and (max-width: 700px) {

  .col-1 {
    grid-column: span 12; /* Vie koko leveyden pienimmillä näytöillä */
    margin: 0px;
  }
  .col-2 {
    grid-column: span 12; /* Vie koko leveyden pienimmillä näytöillä */
  }

  .col-1 h3, .col-2 h3 {
    font-size: 14px;
    margin: 5px auto;
  }


  .container {
    padding: 0px;
  }


  .create_diary_form {
    max-width: 100%;
    margin: auto;
    gap: 10px;
  }

  .create_diary_form input,
  .create_diary_form textarea {
    max-width: 100%; /* Ensures full width in grid column */
    margin: 5px 0px;
    padding: 10px;
  }

  .create_diary_form label {
    font-size: 12px;
  }

  .createEntry {
    padding: 8px;
    width: 100%;
    font-size: 12px;
  }

  .stress-slider {
    height: 5px;
  }


  .calendar {
    width: 95%; /* Use the full width of the screen */
    padding: 0px; /* Adjust padding to be proportional on smaller screens */
    margin-top: 20px; /* Reduce top margin */
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
  }
  .calendar-body {
    padding: 0;

  }

  .calendar-header {
    padding: 5px;
    font-size: 15px;
  }


  .calendar-days div {
    width: auto;
    height: 40px;
  }

  .time-formate, .date-formate {
    font-size: 1rem;;

  }

  .date-time-formate {
    height: 7rem;
  }

  .day-text-formate {
    font-size: 1.5rem;
    padding-right: 5%;
  }

  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 2%;
  }

  .month-list {
    grid-template-columns: repeat(3, 1fr);
    width: 100%; /* Asettaa leveyden, muokkaa tarpeen mukaan */
    max-height: 300px; /* Maksimikorkeus ennen kuin vierityspalkki ilmestyy, muokkaa tarpeen mukaan */
    overflow-y: auto; /* Mahdollistaa pystysuunnan vierityksen, jos sisältö ylittää maksimikorkeuden */
    gap: 1px;
    font-size: 15px;
    padding: 2px;
  }


  #entriesTable {
    width: 95%;

  }


  th, td {
    padding: 8px 6px; /* Reduce padding */
    font-size: 10px; /* Reduce font size */
    padding: 5px;
    overflow: none;
  }

  td button {
    font-size: 3px;
  }

  .tableIcons {
    height: 20px;
    width: 20px;
  }

  #formContainer, .modalContent {
    margin: 10% auto; /* Less margin to bring the form higher on the screen */
    padding: 20px; /* Slightly less padding */
    width: 80%; /* Increase width for better usability */
  }

  #formContainer input,
  #formContainer textarea,
  #formContainer select {
    width: calc(100% - 20px); /* Reduce padding to increase field size */
    font-size: 16px; /* Slightly smaller font size for small devices */
  }

  #formContainer button {
    padding: 10px 20px; /* Larger padding for easier clicking */
    margin: 10px 0; /* Standardize margin for consistency */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #updateEntryForm {
    justify-content: space-around; /* Better spacing management */
  }

  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive #myLinks {
    display: block;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 50px;
    z-index: 99;
  }

}


/* TABLETIT 2 */
@media screen and (min-width: 701px) and (max-width: 800px) {

  .col-1 {
    grid-column: span 12;
    margin: 0px;
  }
  .col-2 {
    grid-column: span 12;
  }

  .col-1 h3, .col-2 h3 {
    font-size: 20px;
    margin: 5px auto;
  }

  .col h3 {
    margin-top: 50px;
  }


  .container {
    padding: 0px;
  }


  .create_diary_form {
    max-width: 100%;
    margin: auto;
    gap: 10px;
  }

  .create_diary_form input,
  .create_diary_form textarea {
    max-width: 100%; /* Ensures full width in grid column */
    margin: 5px 0px;
    padding: 10px;
  }

  .create_diary_form label {
    font-size: 12px;
  }

  .createEntry {
    padding: 8px;
    width: 100%;
    font-size: 12px;
  }

  .stress-slider {
    height: 5px;
  }


  .calendar {
    width: 95%; /* Use the full width of the screen */
    padding: 0px; /* Adjust padding to be proportional on smaller screens */
    margin-top: 20px; /* Reduce top margin */
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
  }
  .calendar-body {
    padding: 0;

  }

  .calendar-header {
    padding: 5px;
    font-size: 15px;
  }


  .calendar-days div {
    width: auto;
    height: 40px;
  }

  .time-formate, .date-formate {
    font-size: 1rem;;

  }

  .date-time-formate {
    height: 7rem;
  }

  .day-text-formate {
    font-size: 1.5rem;
    padding-right: 5%;
  }

  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 2%;
  }

  .month-list {
    grid-template-columns: repeat(3, 1fr);
    width: 100%; /* Asettaa leveyden, muokkaa tarpeen mukaan */
    max-height: 300px; /* Maksimikorkeus ennen kuin vierityspalkki ilmestyy, muokkaa tarpeen mukaan */
    overflow-y: auto; /* Mahdollistaa pystysuunnan vierityksen, jos sisältö ylittää maksimikorkeuden */
    gap: 1px;
    font-size: 15px;
    padding: 2px;
  }


  #entriesTable {
    width: 95%;

  }


  th, td {
    padding: 8px 6px; /* Reduce padding */
    font-size: 10px; /* Reduce font size */
    padding: 5px;
    overflow: none;
  }

  td button {
    font-size: 3px;
  }

  .tableIcons {
    height: 20px;
    width: 20px;
  }

  #formContainer, .modalContent {
    margin: 10% auto; /* Less margin to bring the form higher on the screen */
    padding: 20px; /* Slightly less padding */
    width: 80%; /* Increase width for better usability */
  }

  #formContainer input,
  #formContainer textarea,
  #formContainer select {
    width: calc(100% - 20px); /* Reduce padding to increase field size */
    font-size: 16px; /* Slightly smaller font size for small devices */
  }

  #formContainer button {
    padding: 10px 20px; /* Larger padding for easier clicking */
    margin: 10px 0; /* Standardize margin for consistency */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #updateEntryForm {
    justify-content: space-around; /* Better spacing management */
  }

  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive #myLinks {
    display: block;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 50px;
    z-index: 99;
  }

}

@media screen and (min-width: 801px) and (max-width: 900px) {

  .col-1 {
    grid-column: span 6;
    margin: 0px;
  }
  .col-2 {
    grid-column: span 6;
  }

  .col-1 h3, .col-2 h3 {
    font-size: 20px;
    margin: 5px auto;
  }

  .container {
    padding: 0px;
  }


  .create_diary_form {
    max-width: 100%;
    margin: auto;
    gap: 10px;
  }

  .create_diary_form input,
  .create_diary_form textarea {
    max-width: 100%; /* Ensures full width in grid column */
    margin: 5px 0px;
    padding: 10px;
  }

  .create_diary_form label {
    font-size: 12px;
  }

  .createEntry {
    padding: 8px;
    width: 100%;
    font-size: 12px;
  }

  .stress-slider {
    height: 5px;
  }


  .calendar {
    width: 95%; /* Use the full width of the screen */
    padding: 0px; /* Adjust padding to be proportional on smaller screens */
    margin-top: 20px; /* Reduce top margin */
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
  }
  .calendar-body {
    padding: 0;

  }

  .calendar-header {
    padding: 5px;
    font-size: 15px;
  }


  .calendar-days div {
    width: auto;
    height: 40px;
  }

  .time-formate, .date-formate {
    font-size: 1rem;;

  }

  .date-time-formate {
    height: 7rem;
  }

  .day-text-formate {
    font-size: 1.5rem;
    padding-right: 5%;
  }

  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 2%;
  }

  .month-list {
    grid-template-columns: repeat(3, 1fr);
    width: 100%; /* Asettaa leveyden, muokkaa tarpeen mukaan */
    max-height: 300px; /* Maksimikorkeus ennen kuin vierityspalkki ilmestyy, muokkaa tarpeen mukaan */
    overflow-y: auto; /* Mahdollistaa pystysuunnan vierityksen, jos sisältö ylittää maksimikorkeuden */
    gap: 1px;
    font-size: 15px;
    padding: 2px;
  }


  #entriesTable {
    width: 95%;
    margin-left: -5px;
  }


  th, td {
    padding: 8px 6px; /* Reduce padding */
    font-size: 10px; /* Reduce font size */
    padding: 5px;
    overflow: none;
  }

  td button {
    font-size: 3px;
  }

  .tableIcons {
    height: 20px;
    width: 20px;
  }

  #formContainer, .modalContent {
    margin: 10% auto; /* Less margin to bring the form higher on the screen */
    padding: 20px; /* Slightly less padding */
    width: 80%; /* Increase width for better usability */
  }

  #formContainer input,
  #formContainer textarea,
  #formContainer select {
    width: calc(100% - 20px); /* Reduce padding to increase field size */
    font-size: 16px; /* Slightly smaller font size for small devices */
  }

  #formContainer button {
    padding: 10px 20px; /* Larger padding for easier clicking */
    margin: 10px 0; /* Standardize margin for consistency */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #updateEntryForm {
    justify-content: space-around; /* Better spacing management */
  }

  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive #myLinks {
    display: block;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 50px;
    z-index: 99;
  }

}

@media screen and (min-width: 901px) and (max-width: 1100px) {

  .col-1 {
    grid-column: span 6;
    margin: 0px;
  }
  .col-2 {
    grid-column: span 6;
  }

  .col-1 h3, .col-2 h3 {
    font-size: 20px;
    margin: 5px auto;
  }

  .container {
    padding: 0px;
  }


  .create_diary_form {
    max-width: 100%;
    margin: auto;
    gap: 10px;
  }

  .create_diary_form input,
  .create_diary_form textarea {
    max-width: 100%; /* Ensures full width in grid column */
    margin: 5px 0px;
    padding: 10px;
  }

  .create_diary_form label {
    font-size: 12px;
  }

  .createEntry {
    padding: 8px;
    width: 100%;
    font-size: 12px;
  }

  .stress-slider {
    height: 5px;
  }


  .calendar {
    width: 95%; /* Use the full width of the screen */
    padding: 0px; /* Adjust padding to be proportional on smaller screens */
    margin-top: 20px; /* Reduce top margin */
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
  }
  .calendar-body {
    padding: 0;

  }

  .calendar-header {
    padding: 5px;
    font-size: 15px;
  }


  .calendar-days div {
    width: auto;
    height: 40px;
  }

  .time-formate, .date-formate {
    font-size: 1rem;;

  }

  .date-time-formate {
    height: 7rem;
  }

  .day-text-formate {
    font-size: 1.5rem;
    padding-right: 5%;
  }

  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 2%;
  }

  .month-list {
    grid-template-columns: repeat(3, 1fr);
    width: 100%; /* Asettaa leveyden, muokkaa tarpeen mukaan */
    max-height: 300px; /* Maksimikorkeus ennen kuin vierityspalkki ilmestyy, muokkaa tarpeen mukaan */
    overflow-y: auto; /* Mahdollistaa pystysuunnan vierityksen, jos sisältö ylittää maksimikorkeuden */
    gap: 1px;
    font-size: 15px;
    padding: 2px;
  }


  #entriesTable {
    width: 90%;

  }


  th, td {
    padding: 8px 6px; /* Reduce padding */
    font-size: 10px; /* Reduce font size */
    padding: 5px;
    overflow: none;
  }

  td button {
    font-size: 3px;
  }

  .tableIcons {
    height: 20px;
    width: 20px;
  }

  #formContainer, .modalContent {
    margin: 10% auto; /* Less margin to bring the form higher on the screen */
    padding: 20px; /* Slightly less padding */
    width: 80%; /* Increase width for better usability */
  }

  #formContainer input,
  #formContainer textarea,
  #formContainer select {
    width: calc(100% - 20px); /* Reduce padding to increase field size */
    font-size: 16px; /* Slightly smaller font size for small devices */
  }

  #formContainer button {
    padding: 10px 20px; /* Larger padding for easier clicking */
    margin: 10px 0; /* Standardize margin for consistency */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #updateEntryForm {
    justify-content: space-around; /* Better spacing management */
  }

  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive #myLinks {
    display: block;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 50px;
    z-index: 99;
  }

}
