/* Navigaatiopalkki tyylittely */

.navbar {
  width: auto;
  height: 100%;
  left: 20px;
  right: 20px;
  margin-top: 20px;
  background-color: rgba(4, 68, 101, 0.85);
  box-shadow: 0 3px 10px white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  height: 25px;
}

.navbar-menu {
  display: flex;
  justify-content: center; /* Aseta linkit keskelle */
  align-items: center;
  width: auto;
  padding: 0; /* Poista ylimääräinen sisäinen täyttö */
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px; /* Lisää väliä linkkien välille */
  height: 100%;
  height: 25px;
  padding: 0 7px;
}

.nav-link.nav-link-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap; /* Estä tekstiä menemästä riville */
  align-items: center;
  justify-content: flex-end;

}

.mobile-navbar {
  display: none;
}

/* Muokkaa napin tyylittely */

#openEditModalBtn {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap; /* Estä tekstiä menemästä riville */
  align-items: center;
  justify-content: flex-end;

  background: none;
  color: inherit;
  border: none;
  padding: 0 7px;
  font: inherit;
}

#openEditModalBtn:hover {
  background-color: #0A8ECC;
  border-radius: 5px;
}

.nav-link:last-child {
  margin-left: 10px;
}

/* Navigointipalkin hoverit */

.nav-link:hover {
  background-color: #0A8ECC;
  border-radius: 5px;
}


/* Bannerin tyylittely */

#banner {
  background-image: url(images/zenbanner.png);
  width: 100%;
  height: 450px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 3px 10px white;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


#minikuva {
  background-image: url(images/buddha.png);
  position: absolute;
  top: 335px;
  right: 85%; /* Keskittää vaakasuunnassa, muokkaa tarpeen mukaan */
  transform: translateX(50%); /* Kompensoidaan right-arvo, jotta keskitys toimii oikein */
  width: 100px; /* Määritä sopiva leveys */
  height: 300px; /* Määritä sopiva korkeus */
  background-size: contain; /* Varmistetaan, että kuva mahtuu kokonaan alueelle ja säilyttää mittasuhteensa */
  background-repeat: no-repeat; /* Estetään kuvan toistuminen */
  z-index: 2;
  transition: right 3.0s ease-in-out, transform 2.0s ease-in-out; /* Lisää sujuva siirtymä 'right' ja 'transform'-ominaisuuksille */
}

/* Sivuston perusrunko, 12 column grid */

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    /* background-color: #044465; */
    background: linear-gradient(to bottom, #044465, #0A8ECC, #BEF6E0);
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 200px;
}

.user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: x-large;
  background-color: rgba(10, 142, 204, 0.9);
  box-shadow: 0 3px 10px white;
  border-radius: 10px;
  font-size: 40px;
  margin-top: 170px;
  padding: 12px;
  display: none; /* Piilotetaan aluksi */
}

.show-notification {
  display: block !important;
}


/* Sivujen esittely laatikoiden tyylittely */
.container {
  /* background-image: linear-gradient(
    45deg,
    #044465,
    #BEF6E0,
    #1EB9CF,
    #0A8ECC
  ); */
  /* background-image: url(images/stats.png); */
  background: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;

  text-align: center;
  border-radius: 20px;
  padding: 10px;
  /* box-shadow: 0 3px 10px white; */
}

/* Viimeisin mittaustulos tyylittely */

#latest-data {
  list-style-type: none;
  padding: 0;
}

/* Viimeisin päiväkirjamerkintä tyylittely  */
#latest-entry {
  list-style-type: none;
}


.boksi {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}


.col {
  color: black;
  background-color: rgb(245, 245, 245, 0.9);
  border: 1px solid #ccc;
  box-shadow: 0 3px 10px #044465;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 0 3px 10px #044465;
}

.col-1:hover, .col-2:hover, .col-3:hover, .col-4:hover, .col-5:hover, .col-6:hover {
  border: 2px solid #044565c4;
  background-color: rgb(245, 245, 245, 0.7);
  box-shadow: 0 0 5px #044565c4;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}


button:hover {
  background-color: #BEF6E0;
}
/* Määritä erikokoiset sarakkeet */
.col-1 {
    grid-column: span 3;
}

.col-2 {
    grid-column: span 3;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 3;
}

.col-5 {
    grid-column: span 6;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 12;
    max-width: 600px;
    margin: 0 auto;
}

.col-8 {
    grid-column: span 4;
}

.col-9 {
    grid-column: span 4;
}

.col-10 {
    grid-column: span 4;
}

.col-11 {
    grid-column: span 4;
}

.col-12 {
    grid-column: span 4;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.footer {
  position: relative;
  max-width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 999;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 5s linear infinite;
}

.wave#wave2 {
  z-index: 998;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 5s linear infinite !important;
}

.wave#wave3 {
  z-index: 999;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 4s linear infinite;
}

.wave#wave4 {
  z-index: 998;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 4s linear infinite;
}

/* Esitietolomake-modalin tyylittely */

.modal {
  display: none; /* Piilotetaan modal oletusarvoisesti */
  position: fixed; /* Pysyy paikallaan sivua vieritettäessä */
  left: 0;
  top: 0;
  padding: 40px;
  padding-top: 20px;
  width: 100%; /* Koko leveys */
  height: 100%; /* Koko korkeus */
  background-color: rgba(0,0,0,0.4); /* Musta tausta läpinäkyvyydellä */
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;  /* Määritä sopiva leveys */
  max-width: 100%; /* Varmista, että modal ei ylitä näytön leveyttä */
  height: auto;  /* Korkeus mukautuu sisällön mukaan */
  min-height: 300px; /* Määritä minimikorkeus */
  background-color: #fff;
  padding: 40px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Asettaa sisältöelementit pystysuunnassa */
  justify-content: space-between; /* Jakaa tilan tasaisesti elementtien välille */
  position: relative;
}

#welcome {
  margin-bottom: 20px;
  text-align: center;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content select {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.submit-button, #updateInfo {
  background-color: #044465; /* Sininen väri */
  color: #fff; /* Valkoinen teksti */
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover, #updateInfo:hover  {
  background-color: #4189d6; /* Vaaleampi sininen väri hover-tilassa */
}

.submit-button:focus, #updateInfo:focus {
  outline: none; /* Poistetaan focus-kehykset napista */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}


@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* Media Query Mobiililaitteet Pieni leveyskoko alle 400px*/
@media screen and (max-width: 399px) {
  #banner {
    height: 140px;
    margin-bottom: 40px;
  }

  .user {
    font-size: 22px;
  }

  .col {
    grid-column: span 12;
  }

  #minikuva {
    display: none;
  }

  .wave#wave1,
  .wave#wave2,
  .wave#wave3,
  .wave#wave4 {
    display: none;
  }

}

/* Media Query Mobiililaitteet, Normaali leveyskoko 400-600px */
@media screen and (min-width: 400px) and (max-width: 600px) {
  #banner {
    height: 170px;
    margin-bottom: 40px;
  }

  .user {
    font-size: 22px;
  }

  main {
    margin-top: 70px;
  }

  .col {
    grid-column: span 12;
  }

  #minikuva {
    display: none;
  }

  .topnav a:not(.icon) {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive #myLinks {
    display: block;
    position: absolute;
    background-color: #333;
    width: 100%;
    top: 50px;
    z-index: 99;
  }

  .navbar {
    display: none;
  }
  .mobile-navbar {
    color: white;
    width: auto;
    height: 100%;
    left: 20px;
    right: 20px;
    margin-top: 20px;
    background-color: rgba(4, 68, 101, 0.85);
    box-shadow: 0 3px 10px white;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    height: 25px;
  }

  .bi {
    color: white;
    margin: 30px;

  }

  .nav-link {
    display: none;
  }

  #openEditModalBtn {
    display: none;
  }
}


/* Tabletit */
@media screen and (min-width: 601px) and (max-width: 700px) {
  #banner {
    height: 260px;
  }


  #minikuva {
    top: 145px;
  }

  .col {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 12;
  }

}


@media screen and (min-width: 701px) and (max-width: 800px) {
  #banner {
    height: 300px;
  }


  #minikuva {
    top: 185px;
  }

  .col {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 12;
  }

}

@media screen and (min-width: 801px) and (max-width: 900px) {
  #banner {
    height: 330px;
  }

  #minikuva {
    top: 215px;
  }

  .col {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 12;
  }

}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  #banner {
    height: 380px;
  }

  #minikuva {
    top: 265px;
  }

  .col {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 12;
  }

}

/* Navigaatiopalkin mobiilinäkymä */
