/* Navigaatiopalkki tyylittely */

.navbar {
  width: auto;
  height: 100%;
  left: 20px;
  right: 20px;
  margin-top: 20px;
  background-color: rgba(4, 68, 101, 0.85);
  box-shadow: 0 3px 10px white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 10px;
  border-radius: 10px;
  height: 25px;
}

.navbar-menu {
  display: flex;
  justify-content: center; /* Aseta linkit keskelle */
  align-items: center;
  width: auto;
  padding: 0; /* Poista ylimääräinen sisäinen täyttö */
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px; /* Lisää väliä linkkien välille */
  height: 100%;
  height: 25px;
  padding: 0 7px;
}

.nav-link.nav-link-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  white-space: nowrap; /* Estä tekstiä menemästä riville */
  align-items: center;
  justify-content: flex-end;

}

/* Navigointipalkin hoverit */

.nav-link:hover {
  background-color: #0A8ECC;
  border-radius: 5px;
}


ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Sivuston perusrunko, 12 column grid */

body {
  /* background: linear-gradient(to bottom, #044465, #1EB9CF, #0A8ECC, #BEF6E0); */
  background-image: url(images/beach.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  margin-top: 100px;

  width: 80%;
  margin-bottom: 100px;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.col {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 3px 10px #044465;
}

button {
  font-size:larger;
  border: none;
  font-weight: bolder;
}

/* Määritä erikokoiset sarakkeet */
.col-1 {
    grid-column: span 12;
}

.col-2 {
    grid-column: span 6;
}

.col-3 {
    grid-column: span 6;
}

.col-4 {
    grid-column: span 6;
}

.col-5 {
  grid-column: span 6;
}

/* Modalin taustan tyyli */
.modal {
  display: none; /* Piilotetaan modal oletusarvoisesti */
  position: fixed; /* Pysyy paikoillaan sivun vierityksen aikana */
  z-index: 1; /* Sijoitetaan modal sisällön päälle */
  left: 0;
  top: 0;
  width: 100%; /* Leveys */
  height: 100%; /* Korkeus */
  overflow: auto; /* Mahdollistaa vierityksen, jos tarpeen */

  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  /* Taustakuvan tyylittely */
  /* background-image: url(images/zentools.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

  display: flex; /* Lisätty keskittämiseen */
  align-items: center; /* Vertikaalinen keskitys */
  justify-content: center; /* Horisontaalinen keskitys */
}

/* Modalin sisällön tyyli */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Säädä leveyttä tarpeen mukaan */
  border-radius: 20px; /* Pyöristetyt kulmat */
}


/* Sulje-napin tyyli */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* .col-5 {
    grid-column: span 4;
}

.col-6 {
    grid-column: span 4;
}

.col-7 {
    grid-column: span 4;
}

.col-8 {
    grid-column: span 4;
}

.col-9 {
    grid-column: span 4;
}

.col-10 {
    grid-column: span 4;
}

.col-11 {
    grid-column: span 4;
}

.col-12 {
    grid-column: span 4;
} */

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
